<ion-view title="Home">
  <ion-content padding="true" >

<div class="bar bar-header bar-calm">
  <h1 class="title">Serious Games Network</h1>
</div>
<div class="bar bar-subheader bar-light" style="valign">
  <h1 class="title">
  Connected as <i class="ion-android-social-user"></i> Ahmed
  </h1>
</div>

<br /><br /><br /><br /><br />

<div class="row">
    <div class="col">&nbsp;</div>
    <div class="col col-33">
      <a class="button" href="www/index.html"><br /><img src="icons/play.png" height="180px" width="180px"/><br /> <h2>Jouer</h2></a>
    </div>
    <div class="col col-33">
      <a class="button" href="index.html"><br /><img src="icons/challenge.jpg" height="180px" width="180px"/><br /><h2>Défier</h2></a>
    </div>
    <div class="col">&nbsp;</div>
</div>

<div class="row">
    <div class="col">&nbsp;</div>
    <div class="col col-33">
      <a class="button" href="index.html"><br /><img src="icons/contribute.jpg" height="180px" width="180px"/><br /><h2>Contribuer</h2></a>
    </div>
    <div class="col col-33">
      <a class="button" href="index.html"><br /><img src="icons/explore.png" height="180px" width="180px"/><br /><h2>Explorer</h2></a>
    </div>
    <div class="col">&nbsp;</div>
</div>

</ion-content>
</ion-view>