<ion-view title="Serious Games Network">
  <ion-content padding="true" >

<div class="row row-1">
    <div class="col col-1">
      <a class="button" href="#/tab/questions"><br /><img src="icons/play.png" height="170px" width="170px"/><br /> <h4>Jouer</h4></a>
    </div>
    <div class="col col-2">
      <a class="button" href="index.html"><br /><img src="icons/challenge.jpg" height="170px" width="170px"/><br /><h4>Défier</h4></a>
    </div>
</div>

<div class="row row-2">
    <div class="col col-1">
      <a class="button" href="index.html"><br /><img src="icons/contribute.jpg" height="170px" width="170px"/><br /><h4>Contribuer</h4></a>
    </div>
    <div class="col col-2">
      <a class="button" href="index.html"><br /><img src="icons/explore.png" height="170px" width="170px"/><br /><h4>Explorer</h4></a>
    </div>
</div>

</ion-content>
</ion-view>